@using Web.Choice.UI.Models
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_LayoutPreview.cshtml";
    var listTest = Model as List<TestViewModel>;
    var scores = ViewBag.Score as List<int>;
}

<div class="title-content">
    <span class="title">@ViewBag.Title</span>
    @if (TempData["StatusId"] != null && (bool)TempData["StatusId"])
    {
        <span class="timer success"style="position: relative; left: 150px;font-family:Tahoma;font-weight: lighter">@TempData["Status"]</span>
    }
    else
    {
        <span class="timer failed"style="position: relative; left: 150px;font-family:Tahoma;font-weight: lighter">@TempData["Status"]</span>
    }
</div>
<div class="content row col s12 reset-margin"style="font-family:Tahoma; font-weight: lighter">
    @foreach (var item in listTest)
    {
        <div class="col s6 m4 l3">
            <div class="dashboard-inner-item" style="padding: 10px;">
                <span class="title">Môn: <b>@item.Subject.SubjectName</b></span><br />
                <span class="title">Mã đề: <b>@item.Test.TestCode</b></span><br />
                <span class="title">Kỳ thi: <b>@item.Test.TestName</b></span><br />
                <span class="title">Số câu hỏi: <b>@item.Test.QuestionsTotal</b></span><br />
                <span class="title">Thời gian: <b>@item.Test.TimeToDo (phút)</b></span><br />
                <span class="title">Ghi chú: <b>@item.Test.Note</b></span><br />
                <span class="title">Trạng thái: <b>@item.Status.StatusName</b></span><br />
                @if (item.Status.StatusId == 1)
                {
                    if (scores.IndexOf(item.Test.TestCode) != -1)
                    {
                        <a class="btn full-width" href="@Url.Action("PreviewTest/" + @item.Test.TestCode)">Chi tiết bài làm</a>
                    }
                    else
                    {
                        <a href="#enter-test-@item.Test.TestCode" class="btn full-width modal-trigger" data-code="@item.Test.TestCode" id="enter-ex">Làm bài</a>
                    }
                }
                else if (item.Status.StatusId == 2)
                {
                    <a class="btn full-width" href="@Url.Action("PreviewTest/" + @item.Test.TestCode)">Chi tiết bài làm</a>
                }
            </div>
        </div>
        <!-- Modal Structure -->
        using (Html.BeginForm("CheckPassword", "Student", FormMethod.Post))
        {
            <div id="enter-test-@item.Test.TestCode" class="modal">
                <div class="modal-content">
                    <h4>Nhập Mật Khẩu Đề Thi @item.Test.TestCode</h4>
                    <input type="text" name="TestCode" value="@item.Test.TestCode" hidden>
                    <div class="input-field">
                        <label for="email">Mật Khẩu<span class="failed">(*)</span></label>
                        <input type="password" name="Password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect waves-green btn-flat">Hủy</a>
                    <button type="submit" class="modal-close waves-effect waves-green btn-flat">Xác nhận</button>
                </div>
            </div>
        }
    }
</div>
<script>
    $('.modal').modal();
</script>