@using Web.Choice.UI.Models
@{
    ViewBag.Title = "Quản lý Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var list = Model as List<AdminViewModel>;
}

<div class="title-content">
    <span class="title">@ViewBag.Title</span>
    @if (TempData["StatusId"] != null && (bool)TempData["StatusId"])
    {
        <span class="timer success"style="position: relative; left: 150px;font-family:Tahoma;font-weight: lighter">@TempData["Status"]</span>
    }
    else
    {
        <span class="timer failed"style="position: relative; left: 150px;font-family:Tahoma;font-weight: lighter">@TempData["Status"]</span>
    }
</div>
<div class="content row col s12">
    @using (Html.BeginForm("DeleteAdmin", "Admin", FormMethod.Post))
    {
        <table class="striped centered" id="admins-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tài Khoản</th>
                    <th>Email</th>
                    <th>Tên</th>
                    <th>Giới Tính</th>
                    <th>Ngày Sinh</th>
                    <th>Thông Tin</th>
                    <th>
                        <p>
                            <label>
                                <input type="checkbox" id="checked-all" />
                                <span></span>
                            </label>
                        </p>
                    </th>
                    <th>
                        <i class="material-icons" id="icon-settings">settings</i>
                        <input type="submit" class="material-icons hidden" value="delete_forever" style="background: none; border: none; cursor: pointer; color: red;" id="icon-delete-all" />
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var admin in list)
                {
                    <tr>
                        <td>@admin.AdminId</td>
                        <td>@admin.UserName</td>
                        <td>@admin.Email</td>
                        <td>@admin.Name</td>
                        <td>@admin.Gender</td>
                        <td>@admin.Birthday.Date.ToString("dd-MM-yyyy")</td>

                        <td>
                            @if (admin.LastSeen == null)
                            {
                                <span>Chưa từng online</span>
                            }
                            else
                            {
                                <span>Online lần cuối lúc</span><br />
                                @String.Format("{0:dd'-'MM'-'yyyy HH':'mm':'ss}", admin.LastLogin) <br /><span>tại</span>
                                <a href="@admin.LastSeenUrl">@admin.LastSeen</a>
                            }
                        </td>
                        <td>
                            <p>
                                <label>
                                    <input type="checkbox" class="checkbox" name="Checkbox" value="@admin.AdminId" onchange="check_box()" />
                                    <span></span>
                                </label>
                            </p>
                        </td>
                        <td>
                            <a href="@Url.Action("EditAdmin/" + @admin.AdminId)"><i class="material-icons">edit</i></a>
                            <a class="modal-trigger" href="#delete-@admin.AdminId"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                    <!-- Modal Structure -->
                    <div id="delete-@admin.AdminId" class="modal">
                        <div class="modal-content">
                            <h4>Xác Nhận</h4>
                            <p>Bạn có xóa tài khoản @admin.Name</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="modal-close waves-effect waves-green btn-flat">Hủy</a>
                            <a href="@Url.Action("DeleteAdmin/" + @admin.AdminId)" class="modal-close waves-effect waves-green btn-flat">Có</a>
                        </div>
                    </div>
                }
            </tbody>
        </table>
    }
</div>
<div class="content">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a href="#add_normal" class="active" style="color: #02796e; font-weight: bold;">Thêm Admin</a></li>
            </ul>
        </div>
        <div id="add_normal" class="col s12">
            @using (Html.BeginForm("AddAdmin", "Admin", FormMethod.Post))
            {
                <div class="col l6 s12">
                    <div class="input-field">
                        <label for="name">Tên <span class="failed">(*)</span></label>
                        <input type="text" id="name" name="Name" onchange="" required>
                    </div>
                    <div class="input-field">
                        <label for="username">Tài khoản <span class="failed">(*)</span></label>
                        <input type="text" name="Username" id="username" required>
                    </div>
                    <div class="input-field">
                        <label for="password">Mật khẩu <span class="failed">(*)</span></label>
                        <input type="password" data-minlength="6" name="Password" id="password" required>
                    </div>
                </div>
                <div class="col l6 s12">
                    <div class="input-field">
                        <label for="email">Email <span class="failed">(*)</span></label>
                        <input type="email" id="Email" name="email" required>
                    </div>
                    <div class="input-field">
                        <input type="date" name="Birthday" id="birthday" required value="1997-01-01">
                    </div>
                    <div class="input-field">
                        <select name="Gender" id="gender" required>
                            <option value="Nam" selected>Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                        <label>Giới Tính</label>
                    </div>
                </div>
                <div class="col l12">
                    <button type="submit" class="btn full-width" id="add_admin" name="add-admin">Thêm</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $('.tabs').tabs();
    $('.modal').modal();
    $('#admins-table').DataTable({
        "language": {
            "lengthMenu": "Hiển thị _MENU_",
            "zeroRecords": "Không tìm thấy",
            "info": "Hiển thị trang _PAGE_/_PAGES_",
            "infoEmpty": "Không có dữ liệu",
            "emptyTable": "Không có dữ liệu",
            "infoFiltered": "(tìm kiếm trong tất cả _MAX_ mục)",
            "sSearch": "Tìm kiếm",
            "paginate": {
                "first": "Đầu",
                "last": "Cuối",
                "next": "Sau",
                "previous": "Trước"
            }
        },
        "aoColumnDefs": [
            { "bSortable": false, "aTargets": [7, 8] }, //hide sort icon on header of column 7, 8
        ]
    });
    $('select').select();
    $('#checked-all').on('change', function () {
        if (this.checked) {
            $('.checkbox').each(function () {
                this.checked = true;
            });
            $('#icon-settings').addClass('hidden');
            $('#icon-delete-all').removeClass('hidden');
        } else {
            $('.checkbox').each(function () {
                this.checked = false;
            });
            $('#icon-settings').removeClass('hidden');
            $('#icon-delete-all').addClass('hidden');
        }
    });
    function check_box() {
        $('#icon-delete-all').removeClass('hidden');
        if ($('.checkbox:checked').length == $('.checkbox').length) {
            $('#checked-all').prop('checked', true);
        } else {
            $('#checked-all').prop('checked', false);
        }
        if ($('.checkbox:checked').length == 0) {
            $('#icon-delete-all').addClass('hidden');
            $('#icon-settings').removeClass('hidden');
        } else {
            $('#icon-settings').addClass('hidden');
            $('#icon-delete-all').removeClass('hidden');
        }
    }
</script>

